*{
  margin: 40px;
  padding: 0px;
}
canvas{
  border: 3px solid black;
  background-image: url('../imgs/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: FlappyBirds;
  src: url("../fonts/Flappy-Bird.woff");
}
h1{
  font-family: FlappyBirds;
  color: red;
  font-size: 90px;
  font-weight: normal;
}
